.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

tests/**/coverage/
tests/e2e/reports
selenium-debug.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.local
*.zip

# 阮中楠注释了该部分，并希望该文件能够提交到仓库。便于npm i命令的执行。
package-lock.json
yarn.lock

.svn/
wc.db
.svn/wc.db
.svn/wc.db
