.vscode
data
fonts
audio
icon
movies
logs

# 全部的txt文件
*.txt


# 全部的库文件
**/libs/**/*.js
# 全部的插件不做处理
# **/plugins/**/*.js

apps/drill/drill-project/js/libs/**/*.js

# 被RPGMV写入的插件数据文件 不能被格式化
apps/drill/drill-projectjs/plugins.js

# 全部的mv源码
rpg_*.js

# 忽略特定前缀的文件
Drill_*.js
----*.js
YEP_*.js
MOG_*.js

# 插件配置文件不做处理
plugins.js

# data文件夹下的json文件不做处理
**/data/*.json

# 忽略掉rmmz项目内的静态资源 和 库文件
QJ-MZPlugin-24-12-2/**/*.css
QJ-MZPlugin-24-12-2/**/effects
QJ-MZPlugin-24-12-2/**/fonts

# tauri生成的文件，不做处理
**/src-tauri/target/
**/src-tauri/gen/schemas



