
/*  --  字体配置  --  */
/*  （详细配置方法去看看 "23.窗口字符 > 关于字体管理器.docx" ）  */
@font-face {
    font-family: GameFont;
    src: url("杨任东竹石体-Regular.ttf");
}
@font-face {
    font-family: HappyFont;
    src: url("站酷快乐体.ttf");
}
@font-face {
    font-family: JFont;
    src: url("Jellee Bold.ttf");
}

/*  --  视频窗体配置  --  */
.IIV::-webkit-media-controls-play-button,
video::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}